In [145]:
import pandas as pd
import numpy as np

# 경기도 42개 지역(구, 시) 선정

In [148]:
# 행정구역상 경기도에 소속되어 있는 지역들 중
# 구(區)가 존재하지 않는 시(市)의 경우에는 시를
# 구가 존재하는 시는 구를 고려하면, 총 42개의 지역을 선정할 수 있다.
# 출처 : https://www.gg.go.kr/contents/contents.do?ciIdx=468&menuId=1831
regions = pd.read_csv("data_raw/2116_1230_rows.csv")
regions = regions['지역']
regions = sorted(list(regions))
regions

['가평군',
 '고양시 덕양구',
 '고양시 일산동구',
 '고양시 일산서구',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '성남시 분당구',
 '성남시 수정구',
 '성남시 중원구',
 '수원시 권선구',
 '수원시 영통구',
 '수원시 장안구',
 '수원시 팔달구',
 '시흥시',
 '안산시 단원구',
 '안산시 상록구',
 '안성시',
 '안양시 동안구',
 '안양시 만안구',
 '양주시',
 '양평군',
 '여주시',
 '연천군',
 '오산시',
 '용인시 기흥구',
 '용인시 수지구',
 '용인시 처인구',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시']

In [194]:
# 시 목록
city_list = ['부천시', '화성시', '평택시', '시흥시', '김포시', '광주시', '광명시', '군포시', '하남시', '오산시', '이천시', '안성시',
             '의왕시', '양평군', '여주시', '과천시', '남양주시', '파주시', '의정부시', '양주시', '구리시', '포천시', '동두천시',
             '가평군', '연천군']
# 구 목록
district_list = [
    '장안구', '권선구', '팔달구', '영통구', # 수원
    '처인구', '기흥구', '수지구', #용인
    '수정구', '중원구', '분당구', #성남
    '단원구', '상록구', #안산
    '동안구', '만안구', # 안양
    '덕양구', '일산동구', '일산서구'] #고양

In [195]:
# sanity check
print(len(city_list),'+',len(district_list),'=', len(rows))

25 + 17 = 42

# 각 feature별 데이터 수집
- raw data -> intermediate data

## 쏘카존 갯수 : `socar_zone_count`

In [210]:
# 쏘카존 갯수 데이터(김선중)
# 출처 : https://d3s0tskafalll9.cloudfront.net/media/documents/20210823_socar_zone.csv (going deeper 4-6)
zones = pd.read_csv("data_raw/2101_1228_20210823_socar_zone.csv")
zones

           zone_name         lng        lat region1  region2 region3
0         비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1         수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2       목포 상동현대아파트 앞  126.415655  34.811289    전라남도      목포시      상동
3        단국대 산학협력관 앞  127.166626  36.832965    충청남도  천안시　동남구     신부동
4            목원대학교 앞  127.337858  36.329906   대전광역시       서구     도안동
...              ...         ...        ...     ...      ...     ...
4323  서울숲역 5번출구(D타워)  127.044386  37.544701   서울특별시      성동구   성수동1가
4324       홍대입구역 교차로  126.920696  37.555192   서울특별시      마포구     서교동
4325     서대전역 앞(KTX)  127.404434  36.322323   대전광역시       중구     오류동
4326     롯데백화점 울산점 옆  129.340630  35.537504   울산광역시       남구     삼산동
4327          울산대 정문  129.260590  35.542278   울산광역시       남구     무거동

[4328 rows x 6 columns]

In [211]:
zones = zones[zones['region1']=="경기도"] # 경기도 자료만 자르기
zones = zones.reset_index(drop=True)
zones

            zone_name         lng        lat region1  region2 region3
0          비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1          수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2     수원대 쪽문(평생교육원 뒤)  126.980617  37.213111     경기도      화성시     봉담읍
3          수원시청역 1번출구  127.034731  37.258294     경기도  수원시　팔달구     인계동
4            판곡초등학교 앞  127.240318  37.657671     경기도     남양주시     호평동
...               ...         ...        ...     ...      ...     ...
1072        강남대역 2번출구  127.127386  37.270177     경기도  용인시　기흥구     구갈동
1073       성사 제1공영주차장  126.838784  37.653599     경기도  고양시　덕양구     성사동
1074     석우동 프리언스오피스텔  127.078665  37.218852     경기도      화성시     석우동
1075         용인중앙시장 앞  127.204094  37.236298     경기도  용인시　처인구    김량장동
1076   이마트 수원점(수원터미널)  127.022374  37.250725     경기도  수원시　권선구     권선동

[1077 rows x 6 columns]

In [212]:
print(zones['region2'].unique())
print(zones['region2'].nunique()) # region2의 갯수는 42개

['평택시' '수원시\u3000팔달구' '화성시' '남양주시' '하남시' '수원시\u3000영통구' '용인시\u3000기흥구'
 '부천시' '이천시' '광명시' '고양시\u3000일산동구' '양주시' '여주시' '안양시\u3000동안구' '파주시' '구리시'
 '시흥시' '고양시\u3000일산서구' '성남시\u3000수정구' '의정부시' '오산시' '수원시\u3000장안구'
 '성남시\u3000중원구' '안산시\u3000단원구' '광주시' '용인시\u3000수지구' '고양시\u3000덕양구'
 '용인시\u3000처인구' '안양시\u3000만안구' '김포시' '포천시' '군포시' '성남시\u3000분당구'
 '수원시\u3000권선구' '양평군' '안산시\u3000상록구' '동두천시' '가평군' '안성시' '의왕시' '연천군' '과천시']
42

In [213]:
zones['region2'].replace({ # \u3000을 space로 변환 (더 좋은 코딩방법이 있을 것 같다.)
    '수원시\u3000팔달구':'수원시 팔달구', '수원시\u3000영통구':'수원시 영통구', '용인시\u3000기흥구':'용인시 기흥구',
    '고양시\u3000일산동구':'고양시 일산동구', '안양시\u3000동안구':'안양시 동안구', '고양시\u3000일산서구':'고양시 일산서구',
    '성남시\u3000수정구':'성남시 수정구', '수원시\u3000장안구':'수원시 장안구', '성남시\u3000중원구':'성남시 중원구',
    '안산시\u3000단원구':'안산시 단원구', '용인시\u3000수지구':'용인시 수지구', '고양시\u3000덕양구':'고양시 덕양구',
    '용인시\u3000처인구':'용인시 처인구', '안양시\u3000만안구':'안양시 만안구', '성남시\u3000분당구':'성남시 분당구',
    '수원시\u3000권선구':'수원시 권선구', '안산시\u3000상록구':'안산시 상록구',}, inplace=True)

In [214]:
sorted(zones['region2'].unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.

True

In [215]:
# 각 지역별 쏘카존 수 데이터 생성
socar_zone_counts = pd.DataFrame(zones['region2'].value_counts())
socar_zone_counts.columns = ['쏘카존수']
socar_zone_counts = socar_zone_counts.reindex(regions)
socar_zone_counts

          쏘카존수
가평군          7
고양시 덕양구     48
고양시 일산동구    51
고양시 일산서구    29
과천시          3
광명시         28
광주시         16
구리시         19
군포시         10
김포시         55
남양주시        57
동두천시         4
부천시         57
성남시 분당구     58
성남시 수정구     18
성남시 중원구     13
수원시 권선구     16
수원시 영통구     34
수원시 장안구     18
수원시 팔달구     20
시흥시         35
안산시 단원구     25
안산시 상록구     21
안성시         13
안양시 동안구     19
안양시 만안구     19
양주시         12
양평군          5
여주시          7
연천군          3
오산시         15
용인시 기흥구     37
용인시 수지구     37
용인시 처인구     29
의왕시          5
의정부시        37
이천시         14
파주시         36
평택시         53
포천시          9
하남시         29
화성시         56

In [216]:
socar_zone_counts.to_csv("data_intermediate/2102_1229_socar_zone_count.csv", encoding="utf-8-sig") # encoding을 따로 특정해주어야 할 필요가 있나?

## 토지용도 : `land_use_`

In [217]:
# 동, 면별 토지용도 데이터 1(윤겸님)
# 데이터를 얻은 곳 : http://gris.gg.go.kr/ost/oneStopView.do?pnu=4150010300104450002
# 위의 웹사이트에서, 경기도 모든 지역의 동, 면에 대하여 녹지/주거/공업/상업 중 어떤 카테고리에 해당하는지를 수작업으로 조사했다.
# 윤겸님이 보내주신 자료에 몇 지역이 누락되어 있어서 채워넣었다.
land_use1 = pd.read_csv("data_raw/2105_1228_토지이용계획_차윤겸_최종.csv",encoding='CP949')
land_use1

        시, 구  동, 면 토지용도
0    수원시 장안구  상광교동   녹지
1    수원시 장안구   송죽동   주거
2    수원시 장안구   연무동   주거
3    수원시 장안구   영화동   주거
4    수원시 장안구   율전동   주거
..       ...   ...  ...
417      오산시   은계동   주거
418      오산시   지곶동   녹지
419      오산시   청학동   주거
420      오산시   청호동   주거
421      오산시    탑동   녹지

[422 rows x 3 columns]

In [218]:
len(land_use1['시, 구'].unique()) # 절반씩 조사하기로 했으므로, 21개가 되어야 하지만, 24개가 보인다. 해야 하는 것보다 더 많이 조사하셨다.

24

In [219]:
land_use2 = pd.read_csv("data_raw/2108_1228_토지이용계획_김선중_최종.csv",encoding='CP949')
land_use2
# 동, 면별 토지용도 데이터 2(김선중)
# 데이터를 얻은 곳 : http://gris.gg.go.kr/ost/oneStopView.do?pnu=4150010300104450002
# 위의 웹사이트에서, 경기도 모든 지역의 동, 면에 대하여 녹지/주거/공업/상업 중 어떤 카테고리에 해당하는지를 수작업으로 조사했다.

    시, 구  동, 면 토지용도
0    군포시   금정동   주거
1    군포시    당동   주거
2    군포시   당정동   공업
3    군포시  대야미동   녹지
4    군포시  도마교동   주거
..   ...   ...  ...
382  연천군   장남면   녹지
383  연천군   전곡읍   녹지
384  연천군    중면   녹지
385  연천군   청산면   녹지
386  연천군   화현면   녹지

[387 rows x 3 columns]

In [220]:
len(land_use2['시, 구'].unique())

21

In [221]:
set(land_use1['시, 구']).intersection(land_use2['시, 구']) # 두 조사자가 조사한 지역 중 세 군데가 겹친다.

{'군포시', '오산시', '하남시'}

In [222]:
# 윤겸님이 조사한 지역들 중 겹치는 부분들을 제거했다.
mask = land_use1['시, 구'].isin(list(set(land_use1['시, 구']).intersection(land_use2['시, 구'])))
land_use1 = land_use1[~mask]
land_use1['시, 구'].nunique()

21

In [162]:
# 최종적인 동, 면별 토지용도 데이터 
land_use = pd.concat([land_use1,land_use2])
land_use.reset_index(inplace=True)
land_use.drop(columns=['index'],inplace=True)
land_use

        시, 구  동, 면 토지용도
0    수원시 장안구  상광교동   녹지
1    수원시 장안구   송죽동   주거
2    수원시 장안구   연무동   주거
3    수원시 장안구   영화동   주거
4    수원시 장안구   율전동   주거
..       ...   ...  ...
747      연천군   장남면   녹지
748      연천군   전곡읍   녹지
749      연천군    중면   녹지
750      연천군   청산면   녹지
751      연천군   화현면   녹지

[752 rows x 3 columns]

In [163]:
land_use['시, 구'].nunique()

42

In [164]:
land_use.to_csv("data_intermediate/2109_1229_land_use_full.csv", encoding="utf-8-sig") # 기록을 위해 csv 파일로 저장

In [166]:
regions ==sorted(land_use['시, 구'].unique()) # 앞서 선정한 42개 지역 목록과 일치한다.

True

In [167]:
land_use_ = pd.DataFrame(index = regions)

In [169]:
nature_list = []
dwell_list = []
industry_list = []
commerce_list = []
for region in regions:
    ratio_region = land_use[land_use['시, 구']==region]
    total_number = len(ratio_region)
    nature_list.append(sum(ratio_region['토지용도']=='녹지')/total_number)
    dwell_list.append(sum(ratio_region['토지용도']=='주거')/total_number)
    industry_list.append(sum(ratio_region['토지용도']=='공업')/total_number)
    commerce_list.append(sum(ratio_region['토지용도']=='상업')/total_number)

In [170]:
# 각 지역별 녹지/주거/공업/상업의 동/면 비율 데이터 생성
land_use_['녹지'] = nature_list
land_use_['주거'] = dwell_list
land_use_['공업'] = industry_list
land_use_['상업'] = commerce_list
land_use_

                녹지        주거        공업        상업
가평군       1.000000  0.000000  0.000000  0.000000
고양시 덕양구   0.656250  0.343750  0.000000  0.000000
고양시 일산동구  0.461538  0.461538  0.000000  0.076923
고양시 일산서구  0.500000  0.375000  0.000000  0.125000
과천시       0.500000  0.500000  0.000000  0.000000
광명시       0.222222  0.666667  0.000000  0.111111
광주시       0.923077  0.076923  0.000000  0.000000
구리시       0.500000  0.500000  0.000000  0.000000
군포시       0.333333  0.444444  0.222222  0.000000
김포시       0.400000  0.533333  0.066667  0.000000
남양주시      0.526316  0.473684  0.000000  0.000000
동두천시      0.750000  0.083333  0.083333  0.083333
부천시       0.230769  0.615385  0.153846  0.000000
성남시 분당구   0.500000  0.500000  0.000000  0.000000
성남시 수정구   0.631579  0.368421  0.000000  0.000000
성남시 중원구   0.555556  0.222222  0.111111  0.111111
수원시 권선구   0.625000  0.312500  0.062500  0.000000
수원시 영통구   0.142857  0.571429  0.285714  0.000000
수원시 장안구   0.272727  0.727273  0.000000  0.000000
수원시 팔달구   0.136364  0.409091  0.000000  0.454545
시흥시       0.774194  0.193548  0.032258  0.000000
안산시 단원구   0.428571  0.357143  0.214286  0.000000
안산시 상록구   0.666667  0.333333  0.000000  0.000000
안성시       0.555556  0.288889  0.044444  0.111111
안양시 동안구   0.250000  0.750000  0.000000  0.000000
안양시 만안구   0.666667  0.333333  0.000000  0.000000
양주시       0.727273  0.227273  0.045455  0.000000
양평군       1.000000  0.000000  0.000000  0.000000
여주시       0.875000  0.125000  0.000000  0.000000
연천군       1.000000  0.000000  0.000000  0.000000
오산시       0.333333  0.500000  0.083333  0.083333
용인시 기흥구   0.727273  0.181818  0.090909  0.000000
용인시 수지구   0.428571  0.571429  0.000000  0.000000
용인시 처인구   0.823529  0.058824  0.000000  0.117647
의왕시       0.636364  0.363636  0.000000  0.000000
의정부시      0.461538  0.461538  0.000000  0.076923
이천시       0.880000  0.080000  0.000000  0.040000
파주시       0.800000  0.142857  0.028571  0.028571
평택시       0.594595  0.270270  0.081081  0.054054
포천시       0.888889  0.111111  0.000000  0.000000
하남시       0.458333  0.541667  0.000000  0.000000
화성시       0.567568  0.351351  0.054054  0.027027

In [171]:
land_use_.to_csv("data_intermediate/2110_1229_land_use.csv", encoding="utf-8-sig")

## 인구 : `pop`

In [188]:
# 경기지역 행정구역별 인구 데이터(연수님)
# 데이터를 얻은 곳 : [출처필요]pop = pd.read_csv("data_raw/2111_행정구역_시군구_별__성별_인구수_20221227193138.csv", encoding='cp949')
pop = pd.read_csv("data_raw/2201_1227_행정구역_시군구_별__성별_인구수.csv", encoding='cp949')
pop

,행정구역(시군구)별,2022.09,2022.09.1,2022.09.2,2022.1,2022.1.1,2022.1.2,2022.11,2022.11.1,2022.11.2
0,행정구역(시군구)별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명)
1,경기도,13574353,6832856,6741497,13579508,6835151,6744357,13583238,6836309,6746929
2,수원시,1188234,598490,589744,1189654,599198,590456,1190368,599508,590860
3,장안구,271779,136804,134975,271305,136511,134794,271012,136427,134585
4,권선구,366832,185435,181397,366453,185270,181183,367004,185522,181482
5,팔달구,189267,95361,93906,191423,96475,94948,192225,96826,95399
6,영통구,360356,180890,179466,360473,180942,179531,360127,180733,179394
7,성남시,920903,456041,464862,920667,455970,464697,920362,455768,464594
8,수정구,233447,118323,115124,232663,117974,114689,232125,117720,114405
9,중원구,204894,103769,101125,205893,104258,101635,206211,104312,101899
10,분당구,482562,233949,248613,482111,233738,248373,482026,233736,248290
11,의정부시,463160,227867,235293,463324,227935,235389,463789,228148,235641
12,안양시,547968,270778,277190,548372,270992,277380,548398,270992,277406
13,만안구,233963,116869,117094,234331,117050,117281,234296,117037,117259
14,동안구,314005,153909,160096,314041,153942,160099,314102,153955,160147
15,부천시,793519,393010,400509,792561,392472,400089,791263,391769,399494
16,광명시,288933,142236,146697,288366,141961,146405,288182,141784,146398
17,평택시,575032,301038,273994,576192,301796,274396,577335,302598,274737
18,송탄출장소,0,0,0,0,0,0,0,0,0
19,안중출장소,0,0,0,0,0,0,0,0,0
20,동두천시,92084,45934,46150,91980,45875,46105,91735,45737,45998
21,안산시,645952,331241,314711,644583,330483,314100,643044,329635,313409
22,상록구,347348,177269,170079,346589,176832,169757,345535,176279,169256
23,단원구,298604,153972,144632,297994,153651,144343,297509,153356,144153
24,고양시,1074705,524853,549852,1074784,524837,549947,1075202,524999,550203
25,덕양구,485231,238940,246291,486427,239515,246912,487874,240152,247722
26,일산동구,297614,144563,153051,297055,144256,152799,296590,144032,152558
27,일산서구,291860,141350,150510,291302,141066,150236,290738,140815,149923
28,과천시,78231,38467,39764,77818,38251,39567,77775,38224,39551
29,구리시,189231,93716,95515,189008,93626,95382,188876,93537,95339
30,남양주시,737059,366306,370753,737352,366348,371004,737366,366323,371043
31,풍양출장소,0,0,0,0,0,0,0,0,0
32,오산시,229797,119561,110236,229821,119603,110218,229833,119600,110233
33,시흥시,512331,267615,244716,512168,267503,244665,512438,267637,244801
34,군포시,267032,132542,134490,266735,132379,134356,266531,132304,134227
35,의왕시,160759,79758,81001,160563,79640,80923,160464,79541,80923
36,하남시,323853,161778,162075,324674,162159,162515,325310,162437,162873
37,용인시,1077111,534734,542377,1076369,534236,542133,1075570,533662,541908
38,처인구,261742,134650,127092,260930,134140,126790,259872,133444,126428
39,기흥구,438728,216426,222302,438547,216337,222210,438500,216331,222169
40,수지구,376641,183658,192983,376892,183759,193133,377198,183887,193311
41,파주시,492267,249924,242343,493938,250677,243261,494970,251183,243787
42,이천시,224225,116689,107536,224077,116626,107451,223151,116138,107013
43,안성시,189648,97942,91706,189475,97870,91605,189146,97702,91444
44,김포시,483845,241842,242003,484071,241884,242187,484194,241926,242268
45,화성시,900294,468038,432256,904267,470143,434124,907958,471943,436015
46,화성시동부출장소,0,0,0,0,0,0,0,0,0
47,화성시동탄출장소,0,0,0,0,0,0,0,0,0
48,광주시,391460,199709,191751,391722,199848,191874,391704,199833,191871
49,양주시,239287,121215,118072,239697,121383,118314,241346,122157,119189
50,포천시,147340,78049,69291,147171,77965,69206,147019,77866,69153
51,여주시,112850,57385,55465,113027,57467,55560,113096,57514,55582
52,연천군,42364,22245,20119,42240,22187,20053,42153,22154,19999
53,가평군,62249,32123,30126,62219,32112,30107,62197,32097,30100
54,양평군,122630,61730,60900,122613,61725,60888,122463,61593,60870

In [189]:
pop.set_index('행정구역(시군구)별',inplace=True)
pop.drop(['행정구역(시군구)별', '경기도', '수원시', '성남시', '안양시', '송탄출장소', '안중출장소', '안산시', '고양시',
           '풍양출장소', '용인시', '화성시동부출장소', '화성시동탄출장소'],inplace=True)
pop = pd.DataFrame(pop['2022.11'])
pop.reset_index(inplace=True)
pop['행정구역(시군구)별'].replace({# '행정구역별(시군구)별' 컬럼의 이름을 regions에서의 양식과 일치시킨다.
    '장안구':'수원시 장안구', '권선구':'수원시 권선구', '팔달구':'수원시 팔달구', '영통구':'수원시 영통구', # 수원
    '처인구':'용인시 처인구', '기흥구':'용인시 기흥구', '수지구':'용인시 수지구', #용인
    '수정구':'성남시 수정구', '중원구':'성남시 중원구', '분당구':'성남시 분당구', #성남
    '단원구':'안산시 단원구', '상록구':'안산시 상록구', #안산
    '동안구':'안양시 동안구', '만안구':'안양시 만안구', # 안양
    '덕양구':'고양시 덕양구', '일산동구':'고양시 일산동구', '일산서구':'고양시 일산서구'} # 고양
    , inplace=True) 
pop.rename(columns={'2022.11':'인구'},inplace=True)
pop.set_index('행정구역(시군구)별',inplace=True)
pop = pop.reindex(regions)
pop

                인구
행정구역(시군구)별
가평군          62197
고양시 덕양구     487874
고양시 일산동구    296590
고양시 일산서구    290738
과천시          77775
광명시         288182
광주시         391704
구리시         188876
군포시         266531
김포시         484194
남양주시        737366
동두천시         91735
부천시         791263
성남시 분당구     482026
성남시 수정구     232125
성남시 중원구     206211
수원시 권선구     367004
수원시 영통구     360127
수원시 장안구     271012
수원시 팔달구     192225
시흥시         512438
안산시 단원구     297509
안산시 상록구     345535
안성시         189146
안양시 동안구     314102
안양시 만안구     234296
양주시         241346
양평군         122463
여주시         113096
연천군          42153
오산시         229833
용인시 기흥구     438500
용인시 수지구     377198
용인시 처인구     259872
의왕시         160464
의정부시        463789
이천시         223151
파주시         494970
평택시         577335
포천시         147019
하남시         325310
화성시         907958

In [226]:
sorted(pop.index.unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.

True

In [190]:
pop.to_csv("data_intermediate/2112_1229_population.csv", encoding="utf-8-sig")

## 대학교 수 : `school_`

In [191]:
# 경기지역 대학교 목록(연수님)
# 데이터를 얻은 곳 : [출처필요]
school = pd.read_csv("data_raw/2202_1229_경기대학교.csv", encoding='cp949')
school

C:\Users\sjkim\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,학교구분,학교코드,학교명,본분교,학제,지역,설립구분,관련법령,법인명,학교상태,...,Unnamed: 14,Unnamed: 15,영문주소,중문주소,우편번호,학교개교일,학교홈페이지,총장(대학원장)명,학교대표\r\n번호,학교대표\r\n팩스번호
0,대학,37.0,한경대학교,본교,대학교,경기,국립,고등교육법,해당없음,기존,...,안성시,중앙로,"327, Jungang-ro, Anseong-si, Gyeonggi-do, Repu...","327, Jungang-ro, Anseong-si, Gyeonggi-do, Repu...",17579.0,2012-03-01,www.hknu.ac.kr,이원희,031-670-5114,031-670-5469
1,대학,46.0,가톨릭대학교,본교,대학교,경기,사립,고등교육법,가톨릭학원,기존,...,부천시,원미구,"43, Jibong-ro, Bucheon-si, Gyeonggi-do, Republ...","43, Jibong-ro, Bucheon-si, Gyeonggi-do, Republ...",14662.0,1995-03-01,www.catholic.ac.kr,원종철,02-2164-4114,02-2164-4754
2,대학,51.0,강남대학교,본교,대학교,경기,사립,고등교육법,강남학원,기존,...,용인시,기흥구,"40, Gangnam-ro, Giheung-gu, Yongin-si, Gyeongg...","40, Gangnam-ro, Giheung-gu, Yongin-si, Gyeongg...",16979.0,1948-08-12,www.kangnam.ac.kr,윤신일,031-280-3500,031-280-3173
3,대학,56.0,경기대학교,본교,대학교,경기,사립,고등교육법,경기학원,기존,...,수원시,영통구,"154-42, Gwanggyosan-ro, Yeongtong-gu, Suwon-si...","154-42, Gwanggyosan-ro, Yeongtong-gu, Suwon-si...",16227.0,1947-11-08,www.kyonggi.ac.kr,전준철(직무대행),031-249-9114,031-243-2194
4,대학,63.0,가천대학교,본교,대학교,경기,사립,고등교육법,가천학원,기존,...,성남시,수정구,"1342, Seongnam-daero, Sujeong-gu, Seongnam-si,...","1342, Seongnam-daero, Sujeong-gu, Seongnam-si,...",13120.0,2012-03-01,www.gachon.ac.kr,이길여,031-750-5114,031-753-8828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
school = school[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']]
school.dropna(inplace=True)
school.rename(columns={'Unnamed: 13':'도', 'Unnamed: 14':'시', 'Unnamed: 15':'세부'}, inplace=True) # 세부 : 구, 읍, 면, 로, 길
school

C:\Users\sjkim\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\sjkim\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       도     시   세부
0    경기도   안성시  중앙로
1    경기도   부천시  원미구
2    경기도   용인시  기흥구
3    경기도   수원시  영통구
4    경기도   성남시  수정구
..   ...   ...  ...
243  경기도   수원시  영통구
244  경기도   군포시  한세로
245  경기도   군포시  한세로
246  경기도   양평군  옥천면
247  경기도  의정부시  동일로

[248 rows x 3 columns]

In [199]:
print('도 :',school['도'].unique())
print('시 :',school['시'].unique())
print('세부 :',school['세부'].unique())

도 : ['경기도']
시 : ['안성시' '부천시' '용인시' '수원시' '성남시' '포천시' '광주시' '안양시' '화성시' '양평군' '김포시' '평택시'
 '고양시' '군포시' '오산시' '안산시' '양주시' '시흥시' '의정부시' '의왕시' '여주시' '이천시' '파주시' '가평군'
 '남양주시' '동두천시' '과천시']
세부 : ['중앙로' '원미구' '기흥구' '영통구' '수정구' '수지구' '호국로' '처인구' '소사구' '경안로' '만안구' '봉담읍'
 '옥천면' '대덕면' '승가로' '서동대로' '해룡로' '덕양구' '한세로' '한신대길' '상록구' '은현면' '남양읍'
 '산기대학로' '서부로' '계원대학로' '월곶면' '동안구' '장안구' '삼죽면' '곤지암읍' '죽산면' '단원구' '권선구'
 '정남면' '중원구' '세종로' '마장면' '장안웃길' '경기과기대로' '신둔면' '탄현면' '순암로' '공도읍' '대월면'
 '설악면' '분당구' '진접읍' '초월읍' '청학로' '삼남로' '파평면' '벌마들로40번길' '경동대학로' '호암로' '팔탄면'
 '관악산길' '동일로' '일산동구' '지봉로' '호현로489번길']

In [200]:
# sanity check
city = set(np.where(school['시'].isin(city_list))[0]) # 시(city_list)에 속해있는 대학교들의 index
district = set(np.where(school['세부'].isin(district_list))[0]) # 구(district_list)에 속해있는 대학교들의 index
print(set.intersection(city,district)) # city와 district는 겹치지 않는다.
print(set(np.arange(248)) == set.union(city,district)) # city와 district를 합치면 248개가 다 나온다.

set()
True

In [201]:
# 지역 컬럼 생성 : 구가 없는 시면 시 이름을, 구가 있는 시면 구 이름을 배정한다.
city_series = school['시'][school['시'].isin(city_list)]
district_series = school['세부'][school['세부'].isin(district_list)]
school['지역'] = pd.concat([city_series, district_series])
school

C:\Users\sjkim\AppData\Local\Temp/ipykernel_19980/2836248564.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school['지역'] = pd.concat([city_series, district_series])

       도     시   세부    지역
0    경기도   안성시  중앙로   안성시
1    경기도   부천시  원미구   부천시
2    경기도   용인시  기흥구   기흥구
3    경기도   수원시  영통구   영통구
4    경기도   성남시  수정구   수정구
..   ...   ...  ...   ...
243  경기도   수원시  영통구   영통구
244  경기도   군포시  한세로   군포시
245  경기도   군포시  한세로   군포시
246  경기도   양평군  옥천면   양평군
247  경기도  의정부시  동일로  의정부시

[248 rows x 4 columns]

In [240]:
# 앞서 선정한 42개 지역 목록에 포함된다. 즉, 일치하지는 않는다. 왜냐하면, 대학교가 없는 지역이 존재하기 때문이다.
print(sorted(school['지역'].unique())==regions)
print(len(school['지역'].unique()))
print(set(school['지역'].unique()).issubset(set(regions)))

False
36
True

In [241]:
# 지역 컬럼의 이름을 regions에서의 양식과 일치시킨다.
school['지역'].replace({'장안구':'수원시 장안구', '권선구':'수원시 권선구', '팔달구':'수원시 팔달구', '영통구':'수원시 영통구', # 수원
    '처인구':'용인시 처인구', '기흥구':'용인시 기흥구', '수지구':'용인시 수지구', #용인
    '수정구':'성남시 수정구', '중원구':'성남시 중원구', '분당구':'성남시 분당구', #성남
    '단원구':'안산시 단원구', '상록구':'안산시 상록구', #안산
    '동안구':'안양시 동안구', '만안구':'안양시 만안구', # 안양
    '덕양구':'고양시 덕양구', '일산동구':'고양시 일산동구', '일산서구':'고양시 일산서구'} # 고양
    , inplace=True) 
school

C:\Users\sjkim\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

       도     시   세부       지역
0    경기도   안성시  중앙로      안성시
1    경기도   부천시  원미구      부천시
2    경기도   용인시  기흥구  용인시 기흥구
3    경기도   수원시  영통구  수원시 영통구
4    경기도   성남시  수정구  성남시 수정구
..   ...   ...  ...      ...
243  경기도   수원시  영통구  수원시 영통구
244  경기도   군포시  한세로      군포시
245  경기도   군포시  한세로      군포시
246  경기도   양평군  옥천면      양평군
247  경기도  의정부시  동일로     의정부시

[248 rows x 4 columns]

In [242]:
# 각 지역별 대학교의 개수 데이터 생성
school_ = pd.DataFrame(index = regions)
school_['대학교 개수'] = [sum(school['지역']==region) for region in regions]
school_

          대학교 개수
가평군            1
고양시 덕양구        6
고양시 일산동구       1
고양시 일산서구       0
과천시            1
광명시            0
광주시           11
구리시            0
군포시            7
김포시            3
남양주시           2
동두천시           3
부천시           14
성남시 분당구        1
성남시 수정구       11
성남시 중원구        1
수원시 권선구        1
수원시 영통구       21
수원시 장안구        4
수원시 팔달구        0
시흥시            5
안산시 단원구        2
안산시 상록구        4
안성시           12
안양시 동안구        1
안양시 만안구       15
양주시            4
양평군            7
여주시            1
연천군            0
오산시            5
용인시 기흥구       16
용인시 수지구        9
용인시 처인구       15
의왕시            1
의정부시           6
이천시            4
파주시            2
평택시            9
포천시           15
하남시            0
화성시           27

In [207]:
school_.to_csv("data_intermediate/2114_1229_school.csv", encoding="utf-8-sig")

## 아파트 수 : `apartment`

In [245]:
sorted(zones['region2'].unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.

True

In [246]:
apartment = pd.read_csv("data_raw/2502_1229_경기도 아파트 현황.csv")
sorted(apartment['경기도 아파트현황'].unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.

True

In [244]:
apartment.set_index('경기도 아파트현황',inplace=True)
apartment = apartment.reindex(regions)
apartment
# 경기지역 아파트 목록(윤겸님)
# 데이터를 얻은 곳 : https://data.gg.go.kr/portal/data/service/selectServicePage.do?infId=VUPYJVKMYEYIKOQDILSR30099546&infSeq=1

           아파트수
경기도 아파트현황
가평군          39
고양시 덕양구     274
고양시 일산동구    133
고양시 일산서구    140
과천시          15
광명시          89
광주시         129
구리시         111
군포시         155
김포시         229
남양주시        385
동두천시         41
부천시         520
성남시 분당구     231
성남시 수정구      91
성남시 중원구      79
수원시 권선구     159
수원시 영통구     129
수원시 장안구     200
수원시 팔달구      65
시흥시         313
안산시 단원구     160
안산시 상록구      65
안성시          96
안양시 동안구     174
안양시 만안구     138
양주시         124
양평군          39
여주시          70
연천군          35
오산시          93
용인시 기흥구     251
용인시 수지구     214
용인시 처인구     112
의왕시         102
의정부시        299
이천시         155
파주시         221
평택시         367
포천시          76
하남시         131
화성시         388

In [209]:
apartment.to_csv("data_intermediate/2115_1230_apartment.csv", encoding="utf-8-sig")

# feature 데이터를 하나로 통합
- intermediate data -> final data

In [41]:
import pandas as pd

a = pd.read_csv('data_intermediate/2102_1229_socar_zone_counts.csv')
b = pd.read_csv('data_intermediate/2110_1229_land_use.csv')
c = pd.read_csv('data_intermediate/2112_1229_population.csv')
d = pd.read_csv('data_intermediate/2114_1229_school.csv')
e = pd.read_csv('data_intermediate/2115_1230_apartment.csv')

result = pd.concat([a,b,c,d,e], axis = 1)
result.head()

,Unnamed: 0,쏘카존수,Unnamed: 0,녹지,주거,공업,상업,행정구역(시군구)별,인구,Unnamed: 0,대학교 개수,경기도 아파트현황,아파트수
0,성남시 분당구,58,수원시 장안구,0.272727,0.727273,0.000000,0.000000,장안구,271012,수원시 장안구,4,수원시 장안구,200
1,부천시,57,수원시 권선구,0.625000,0.312500,0.062500,0.000000,권선구,367004,수원시 권선구,1,수원시 권선구,159
2,남양주시,57,수원시 팔달구,0.136364,0.409091,0.000000,0.454545,팔달구,192225,수원시 팔달구,0,수원시 팔달구,65
3,화성시,56,수원시 영통구,0.142857,0.571429,0.285714,0.000000,영통구,360127,수원시 영통구,21,수원시 영통구,129
4,김포시,55,용인시 처인구,0.823529,0.058824,0.000000,0.117647,수정구,232125,용인시 처인구,15,용인시 처인구,112

In [52]:
A = set(sorted(socar_zone_counts.index))
B = set(sorted(land_use_.index))
C = set(sorted(pop.index))
D = set(sorted(school_.index))
E = set(sorted(apartment.index))
print(A,B,C,D,E,sep='\n')

{'광명시', '고양시 일산서구', '군포시', '안산시 단원구', '성남시 수정구', '구리시', '하남시', '평택시', '수원시 팔달구', '안성시', '이천시', '의왕시', '성남시 중원구', '연천군', '용인시 처인구', '용인시 기흥구', '양평군', '김포시', '안산시 상록구', '의정부시', '오산시', '안양시 만안구', '용인시 수지구', '성남시 분당구', '광주시', '동두천시', '고양시 덕양구', '과천시', '부천시', '화성시', '가평군', '안양시 동안구', '포천시', '수원시 영통구', '시흥시', '여주시', '양주시', '수원시 권선구', '고양시 일산동구', '파주시', '수원시 장안구', '남양주시'}
{'광명시', '고양시 일산서구', '군포시', '안산시 단원구', '성남시 수정구', '구리시', '하남시', '평택시', '수원시 팔달구', '안성시', '이천시', '의왕시', '성남시 중원구', '연천군', '용인시 처인구', '용인시 기흥구', '양평군', '김포시', '안산시 상록구', '의정부시', '오산시', '안양시 만안구', '용인시 수지구', '성남시 분당구', '광주시', '동두천시', '고양시 덕양구', '과천시', '부천시', '화성시', '가평군', '안양시 동안구', '포천시', '수원시 영통구', '시흥시', '여주시', '양주시', '수원시 권선구', '고양시 일산동구', '파주시', '수원시 장안구', '남양주시'}
{'광명시', '동안구', '팔달구', '수지구', '군포시', '장안구', '덕양구', '중원구', '구리시', '하남시', '평택시', '안성시', '이천시', '만안구', '의왕시', '연천군', '일산동구', '양평군', '김포시', '의정부시', '오산시', '권선구', '영통구', '광주시', '동두천시', '분당구', '상록구', '과천시', '부천시', '화성시', '가평군', '처인구', '포천시', '기흥구', '시흥시', '여주시', '양주시', '단원구', '수정구', '파주시', '남양주시', '일산서구'}
{'광명시', '고양시 일산서구', '군포시', '안산시 단원구', '성남시 수정구', '구리시', '하남시', '평택시', '수원시 팔달구', '안성시', '이천시', '의왕시', '성남시 중원구', '연천군', '용인시 처인구', '용인시 기흥구', '양평군', '김포시', '안산시 상록구', '의정부시', '오산시', '안양시 만안구', '용인시 수지구', '성남시 분당구', '광주시', '동두천시', '고양시 덕양구', '과천시', '부천시', '화성시', '가평군', '안양시 동안구', '포천시', '수원시 영통구', '시흥시', '여주시', '양주시', '수원시 권선구', '고양시 일산동구', '파주시', '수원시 장안구', '남양주시'}
{'광명시', '고양시 일산서구', '군포시', '안산시 단원구', '성남시 수정구', '구리시', '하남시', '평택시', '수원시 팔달구', '안성시', '이천시', '의왕시', '성남시 중원구', '연천군', '용인시 처인구', '용인시 기흥구', '양평군', '김포시', '안산시 상록구', '의정부시', '오산시', '안양시 만안구', '용인시 수지구', '성남시 분당구', '광주시', '동두천시', '고양시 덕양구', '과천시', '부천시', '화성시', '가평군', '안양시 동안구', '포천시', '수원시 영통구', '시흥시', '여주시', '양주시', '수원시 권선구', '고양시 일산동구', '파주시', '수원시 장안구', '남양주시'}

In [63]:
D==E

True

In [45]:
print(a.index, b.index, c.index, d.index, e.index, sep='\n')

RangeIndex(start=0, stop=42, step=1)
RangeIndex(start=0, stop=42, step=1)
RangeIndex(start=0, stop=42, step=1)
RangeIndex(start=0, stop=42, step=1)
RangeIndex(start=0, stop=42, step=1)

In [39]:
import pandas as pd

result = pd.concat([socar_zone_counts, land_use_, pop, school, apartment], axis = 1)
result.head()

   쏘카존수  녹지  주거  공업  상업   인구    도    시   세부       위치  아파트수
0   NaN NaN NaN NaN NaN  NaN  경기도  안성시  중앙로      안성시   NaN
1   NaN NaN NaN NaN NaN  NaN  경기도  부천시  원미구      부천시   NaN
2   NaN NaN NaN NaN NaN  NaN  경기도  용인시  기흥구  용인시 기흥구   NaN
3   NaN NaN NaN NaN NaN  NaN  경기도  수원시  영통구  수원시 영통구   NaN
4   NaN NaN NaN NaN NaN  NaN  경기도  성남시  수정구  성남시 수정구   NaN

In [ ]:
z