In [1]:
import pandas as pd
import numpy as np

# 각 feature별 데이터 수집
- raw data -> intermediate data

## 쏘카존 갯수 : `socar_zone_counts`

In [2]:
# 쏘카존 겟수 데이터(김선중)
# 출처 : https://d3s0tskafalll9.cloudfront.net/media/documents/20210823_socar_zone.csv (going deeper 4-6)
zones = pd.read_csv("data_raw/2101_1228_20210823_socar_zone.csv")
zones

           zone_name         lng        lat region1  region2 region3
0         비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1         수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2       목포 상동현대아파트 앞  126.415655  34.811289    전라남도      목포시      상동
3        단국대 산학협력관 앞  127.166626  36.832965    충청남도  천안시　동남구     신부동
4            목원대학교 앞  127.337858  36.329906   대전광역시       서구     도안동
...              ...         ...        ...     ...      ...     ...
4323  서울숲역 5번출구(D타워)  127.044386  37.544701   서울특별시      성동구   성수동1가
4324       홍대입구역 교차로  126.920696  37.555192   서울특별시      마포구     서교동
4325     서대전역 앞(KTX)  127.404434  36.322323   대전광역시       중구     오류동
4326     롯데백화점 울산점 옆  129.340630  35.537504   울산광역시       남구     삼산동
4327          울산대 정문  129.260590  35.542278   울산광역시       남구     무거동

[4328 rows x 6 columns]

In [3]:
zones = zones[zones['region1']=="경기도"] # 경기도 자료만 자르기
zones = zones.reset_index(drop=True)
zones

            zone_name         lng        lat region1  region2 region3
0          비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1          수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2     수원대 쪽문(평생교육원 뒤)  126.980617  37.213111     경기도      화성시     봉담읍
3          수원시청역 1번출구  127.034731  37.258294     경기도  수원시　팔달구     인계동
4            판곡초등학교 앞  127.240318  37.657671     경기도     남양주시     호평동
...               ...         ...        ...     ...      ...     ...
1072        강남대역 2번출구  127.127386  37.270177     경기도  용인시　기흥구     구갈동
1073       성사 제1공영주차장  126.838784  37.653599     경기도  고양시　덕양구     성사동
1074     석우동 프리언스오피스텔  127.078665  37.218852     경기도      화성시     석우동
1075         용인중앙시장 앞  127.204094  37.236298     경기도  용인시　처인구    김량장동
1076   이마트 수원점(수원터미널)  127.022374  37.250725     경기도  수원시　권선구     권선동

[1077 rows x 6 columns]

In [4]:
print(zones['region2'].unique())
print(zones['region2'].nunique()) # region2의 갯수는 42개

['평택시' '수원시\u3000팔달구' '화성시' '남양주시' '하남시' '수원시\u3000영통구' '용인시\u3000기흥구'
 '부천시' '이천시' '광명시' '고양시\u3000일산동구' '양주시' '여주시' '안양시\u3000동안구' '파주시' '구리시'
 '시흥시' '고양시\u3000일산서구' '성남시\u3000수정구' '의정부시' '오산시' '수원시\u3000장안구'
 '성남시\u3000중원구' '안산시\u3000단원구' '광주시' '용인시\u3000수지구' '고양시\u3000덕양구'
 '용인시\u3000처인구' '안양시\u3000만안구' '김포시' '포천시' '군포시' '성남시\u3000분당구'
 '수원시\u3000권선구' '양평군' '안산시\u3000상록구' '동두천시' '가평군' '안성시' '의왕시' '연천군' '과천시']
42

In [5]:
zones['region2'].replace({ # \u3000을 space로 변환 (더 좋은 코딩방법이 있을 것 같다.)
    '수원시\u3000팔달구':'수원시 팔달구', '수원시\u3000영통구':'수원시 영통구', '용인시\u3000기흥구':'용인시 기흥구',
    '고양시\u3000일산동구':'고양시 일산동구', '안양시\u3000동안구':'안양시 동안구', '고양시\u3000일산서구':'고양시 일산서구',
    '성남시\u3000수정구':'성남시 수정구', '수원시\u3000장안구':'수원시 장안구', '성남시\u3000중원구':'성남시 중원구',
    '안산시\u3000단원구':'안산시 단원구', '용인시\u3000수지구':'용인시 수지구', '고양시\u3000덕양구':'고양시 덕양구',
    '용인시\u3000처인구':'용인시 처인구', '안양시\u3000만안구':'안양시 만안구', '성남시\u3000분당구':'성남시 분당구',
    '수원시\u3000권선구':'수원시 권선구', '안산시\u3000상록구':'안산시 상록구',}, inplace=True)

In [6]:
# 각 지역별 쏘카존 수 데이터 생성
socar_zone_counts = pd.DataFrame(zones['region2'].value_counts())
socar_zone_counts.columns = ['쏘카존수']
socar_zone_counts

          쏘카존수
성남시 분당구     58
부천시         57
남양주시        57
화성시         56
김포시         55
평택시         53
고양시 일산동구    51
고양시 덕양구     48
용인시 기흥구     37
의정부시        37
용인시 수지구     37
파주시         36
시흥시         35
수원시 영통구     34
하남시         29
용인시 처인구     29
고양시 일산서구    29
광명시         28
안산시 단원구     25
안산시 상록구     21
수원시 팔달구     20
안양시 만안구     19
안양시 동안구     19
구리시         19
수원시 장안구     18
성남시 수정구     18
광주시         16
수원시 권선구     16
오산시         15
이천시         14
성남시 중원구     13
안성시         13
양주시         12
군포시         10
포천시          9
여주시          7
가평군          7
양평군          5
의왕시          5
동두천시         4
연천군          3
과천시          3

In [7]:
socar_zone_counts.to_csv("data_intermediate/2102_1229_socar_zone_counts.csv", encoding="utf-8-sig")

## 토지용도 : `land_use_`

In [8]:
# 동, 면별 토지용도 데이터 1(윤겸님)
# 데이터를 얻은 곳 : http://gris.gg.go.kr/ost/oneStopView.do?pnu=4150010300104450002
# 위의 주소에서, 경기도 모든 지역의 동, 면에 대하여 녹지/주거/공업/상업 중 어떤 카테고리에 해당하는지를 수작업으로 조사했다.
# 윤겸님이 보내주신 자료에 몇 지역이 누락되어 있어서 채워넣었다.
land_use1 = pd.read_csv("data_raw/2105_1228_토지이용계획_차윤겸_최종.csv",encoding='CP949')
land_use1

        시, 구  동, 면 토지용도
0    수원시 장안구  상광교동   녹지
1    수원시 장안구   송죽동   주거
2    수원시 장안구   연무동   주거
3    수원시 장안구   영화동   주거
4    수원시 장안구   율전동   주거
..       ...   ...  ...
417      오산시   은계동   주거
418      오산시   지곶동   녹지
419      오산시   청학동   주거
420      오산시   청호동   주거
421      오산시    탑동   녹지

[422 rows x 3 columns]

In [9]:
len(land_use1['시, 구'].unique()) # 절반씩 조사하기로 했으므로, 21개가 되어야 하지만, 24개가 보인다. 해야 하는 것보다 더 많이 조사하셨다.

24

In [10]:
land_use2 = pd.read_csv("data_raw/2108_1228_토지이용계획_김선중_최종.csv",encoding='CP949')
land_use2
# 동, 면별 토지용도 데이터 2(김선중)
# 데이터를 얻은 곳 : http://gris.gg.go.kr/ost/oneStopView.do?pnu=4150010300104450002
# 위의 주소에서, 경기도 모든 지역의 동, 면에 대하여 녹지/주거/공업/상업 중 어떤 카테고리에 해당하는지를 수작업으로 조사했다.

    시, 구  동, 면 토지용도
0    군포시   금정동   주거
1    군포시    당동   주거
2    군포시   당정동   공업
3    군포시  대야미동   녹지
4    군포시  도마교동   주거
..   ...   ...  ...
382  연천군   장남면   녹지
383  연천군   전곡읍   녹지
384  연천군    중면   녹지
385  연천군   청산면   녹지
386  연천군   화현면   녹지

[387 rows x 3 columns]

In [11]:
len(land_use2['시, 구'].unique())

21

In [12]:
set(land_use1['시, 구']).intersection(land_use2['시, 구']) # 두 조사자가 조사한 지역 중 세 군데가 겹친다.

{'군포시', '오산시', '하남시'}

In [13]:
# 윤겸님이 조사한 지역들 중 겹치는 부분들을 제거했다.
mask = land_use1['시, 구'].isin(list(set(land_use1['시, 구']).intersection(land_use2['시, 구'])))
land_use1 = land_use1[~mask]
land_use1['시, 구'].nunique()

21

In [14]:
# 최종적인 동, 면별 토지용도 데이터 
land_use = pd.concat([land_use1,land_use2])
land_use.reset_index(inplace=True)
land_use.drop(columns=['index'],inplace=True)
land_use

        시, 구  동, 면 토지용도
0    수원시 장안구  상광교동   녹지
1    수원시 장안구   송죽동   주거
2    수원시 장안구   연무동   주거
3    수원시 장안구   영화동   주거
4    수원시 장안구   율전동   주거
..       ...   ...  ...
747      연천군   장남면   녹지
748      연천군   전곡읍   녹지
749      연천군    중면   녹지
750      연천군   청산면   녹지
751      연천군   화현면   녹지

[752 rows x 3 columns]

In [15]:
land_use['시, 구'].nunique()

42

In [16]:
land_use.to_csv("data_intermediate/2109_1229_land_use_full.csv", encoding="utf-8-sig") # 기록을 위해 csv 파일로 저장

In [17]:
rows = land_use['시, 구'].unique() # 행(index)의 목록. 이것은 최종적으로 합친 dataset의 행 목록이기도 하므로 앞으로도 많이 쓰이게 된다.
rows

array(['수원시 장안구', '수원시 권선구', '수원시 팔달구', '수원시 영통구', '용인시 처인구', '용인시 기흥구',
       '용인시 수지구', '성남시 수정구', '성남시 중원구', '성남시 분당구', '부천시', '화성시',
       '안산시 단원구', '안산시 상록구', '안양시 동안구', '안양시 만안구', '평택시', '시흥시', '김포시',
       '광주시', '광명시', '군포시', '하남시', '오산시', '이천시', '안성시', '의왕시', '양평군',
       '여주시', '과천시', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '남양주시', '파주시',
       '의정부시', '양주시', '구리시', '포천시', '동두천시', '가평군', '연천군'], dtype=object)

In [18]:
land_use_ = pd.DataFrame(index = rows)
land_use_

Empty DataFrame
Columns: []
Index: [수원시 장안구, 수원시 권선구, 수원시 팔달구, 수원시 영통구, 용인시 처인구, 용인시 기흥구, 용인시 수지구, 성남시 수정구, 성남시 중원구, 성남시 분당구, 부천시, 화성시, 안산시 단원구, 안산시 상록구, 안양시 동안구, 안양시 만안구, 평택시, 시흥시, 김포시, 광주시, 광명시, 군포시, 하남시, 오산시, 이천시, 안성시, 의왕시, 양평군, 여주시, 과천시, 고양시 덕양구, 고양시 일산동구, 고양시 일산서구, 남양주시, 파주시, 의정부시, 양주시, 구리시, 포천시, 동두천시, 가평군, 연천군]

In [19]:
nature_list = []
dwell_list = []
industry_list = []
commerce_list = []
for region in rows:
    ratio_region = land_use[land_use['시, 구']==region]
    total_number = len(ratio_region)
    nature_list.append(sum(ratio_region['토지용도']=='녹지')/total_number)
    dwell_list.append(sum(ratio_region['토지용도']=='주거')/total_number)
    industry_list.append(sum(ratio_region['토지용도']=='공업')/total_number)
    commerce_list.append(sum(ratio_region['토지용도']=='상업')/total_number)

In [20]:
# 각 지역별 녹지/주거/공업/상업의 동/면 비율 데이터 생성
land_use_['녹지'] = nature_list
land_use_['주거'] = dwell_list
land_use_['공업'] = industry_list
land_use_['상업'] = commerce_list
land_use_

                녹지        주거        공업        상업
수원시 장안구   0.272727  0.727273  0.000000  0.000000
수원시 권선구   0.625000  0.312500  0.062500  0.000000
수원시 팔달구   0.136364  0.409091  0.000000  0.454545
수원시 영통구   0.142857  0.571429  0.285714  0.000000
용인시 처인구   0.823529  0.058824  0.000000  0.117647
용인시 기흥구   0.727273  0.181818  0.090909  0.000000
용인시 수지구   0.428571  0.571429  0.000000  0.000000
성남시 수정구   0.631579  0.368421  0.000000  0.000000
성남시 중원구   0.555556  0.222222  0.111111  0.111111
성남시 분당구   0.500000  0.500000  0.000000  0.000000
부천시       0.230769  0.615385  0.153846  0.000000
화성시       0.567568  0.351351  0.054054  0.027027
안산시 단원구   0.428571  0.357143  0.214286  0.000000
안산시 상록구   0.666667  0.333333  0.000000  0.000000
안양시 동안구   0.250000  0.750000  0.000000  0.000000
안양시 만안구   0.666667  0.333333  0.000000  0.000000
평택시       0.594595  0.270270  0.081081  0.054054
시흥시       0.774194  0.193548  0.032258  0.000000
김포시       0.400000  0.533333  0.066667  0.000000
광주시       0.923077  0.076923  0.000000  0.000000
광명시       0.222222  0.666667  0.000000  0.111111
군포시       0.333333  0.444444  0.222222  0.000000
하남시       0.458333  0.541667  0.000000  0.000000
오산시       0.333333  0.500000  0.083333  0.083333
이천시       0.880000  0.080000  0.000000  0.040000
안성시       0.555556  0.288889  0.044444  0.111111
의왕시       0.636364  0.363636  0.000000  0.000000
양평군       1.000000  0.000000  0.000000  0.000000
여주시       0.875000  0.125000  0.000000  0.000000
과천시       0.500000  0.500000  0.000000  0.000000
고양시 덕양구   0.656250  0.343750  0.000000  0.000000
고양시 일산동구  0.461538  0.461538  0.000000  0.076923
고양시 일산서구  0.500000  0.375000  0.000000  0.125000
남양주시      0.526316  0.473684  0.000000  0.000000
파주시       0.800000  0.142857  0.028571  0.028571
의정부시      0.461538  0.461538  0.000000  0.076923
양주시       0.727273  0.227273  0.045455  0.000000
구리시       0.500000  0.500000  0.000000  0.000000
포천시       0.888889  0.111111  0.000000  0.000000
동두천시      0.750000  0.083333  0.083333  0.083333
가평군       1.000000  0.000000  0.000000  0.000000
연천군       1.000000  0.000000  0.000000  0.000000

In [21]:
land_use_.to_csv("data_intermediate/2110_1229_land_use.csv", encoding="utf-8-sig")

## 인구 : `pop`

In [23]:
# 경기지역 행정구역별 인구 데이터(연수님)
# 데이터를 얻은 곳 : [출처필요]pop = pd.read_csv("data_raw/2111_행정구역_시군구_별__성별_인구수_20221227193138.csv", encoding='cp949')
pop = pd.read_csv("data_raw/2201_1227_행정구역_시군구_별__성별_인구수.csv", encoding='cp949')
pop.set_index('행정구역(시군구)별',inplace=True)
pop.drop(['행정구역(시군구)별', '경기도', '수원시', '성남시', '안양시', '송탄출장소', '안중출장소', '안산시', '고양시',
          '풍양출장소', '용인시', '화성시동부출장소', '화성시동탄출장소'],inplace=True)
pop = pd.DataFrame(pop['2022.11'])
pop.rename(columns={'2022.11':'인구'},inplace=True)
pop

                인구
행정구역(시군구)별
장안구         271012
권선구         367004
팔달구         192225
영통구         360127
수정구         232125
중원구         206211
분당구         482026
의정부시        463789
만안구         234296
동안구         314102
부천시         791263
광명시         288182
평택시         577335
동두천시         91735
상록구         345535
단원구         297509
덕양구         487874
일산동구        296590
일산서구        290738
과천시          77775
구리시         188876
남양주시        737366
오산시         229833
시흥시         512438
군포시         266531
의왕시         160464
하남시         325310
처인구         259872
기흥구         438500
수지구         377198
파주시         494970
이천시         223151
안성시         189146
김포시         484194
화성시         907958
광주시         391704
양주시         241346
포천시         147019
여주시         113096
연천군          42153
가평군          62197
양평군         122463

In [24]:
pop.to_csv("data_intermediate/2112_1229_population.csv", encoding="utf-8-sig")

## 대학교 수 : `school`

In [33]:
# 경기지역 대학교 목록(연수님)
# 데이터를 얻은 곳 : [출처필요]
school = pd.read_csv("data_raw/2202_1229_경기대학교.csv", encoding='cp949')
school = school[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']]
school.dropna(inplace=True)
school.rename(columns={'Unnamed: 13':'도', 'Unnamed: 14':'시', 'Unnamed: 15':'세부'}, inplace=True) # 세부 : 구, 읍, 면, 로, 길
school

C:\Users\sjkim\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

       도     시   세부
0    경기도   안성시  중앙로
1    경기도   부천시  원미구
2    경기도   용인시  기흥구
3    경기도   수원시  영통구
4    경기도   성남시  수정구
..   ...   ...  ...
243  경기도   수원시  영통구
244  경기도   군포시  한세로
245  경기도   군포시  한세로
246  경기도   양평군  옥천면
247  경기도  의정부시  동일로

[248 rows x 3 columns]

In [ ]:
print('도 :',school['도'].unique())
print('시 :',school['시'].unique())
print('세부 :',school['세부'].unique())

In [27]:
rows

array(['수원시 장안구', '수원시 권선구', '수원시 팔달구', '수원시 영통구', '용인시 처인구', '용인시 기흥구',
       '용인시 수지구', '성남시 수정구', '성남시 중원구', '성남시 분당구', '부천시', '화성시',
       '안산시 단원구', '안산시 상록구', '안양시 동안구', '안양시 만안구', '평택시', '시흥시', '김포시',
       '광주시', '광명시', '군포시', '하남시', '오산시', '이천시', '안성시', '의왕시', '양평군',
       '여주시', '과천시', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '남양주시', '파주시',
       '의정부시', '양주시', '구리시', '포천시', '동두천시', '가평군', '연천군'], dtype=object)

In [28]:
# 시 목록
city_list = ['부천시', '화성시', '평택시', '시흥시', '김포시', '광주시', '광명시', '군포시', '하남시', '오산시', '이천시', '안성시',
             '의왕시', '양평군', '여주시', '과천시', '남양주시', '파주시', '의정부시', '양주시', '구리시', '포천시', '동두천시',
             '가평군', '연천군']
# 구 목록
district_list = [
    '장안구', '권선구', '팔달구', '영통구', # 수원
    '처인구', '기흥구', '수지구', #용인
    '수정구', '중원구', '분당구', #성남
    '단원구', '상록구', #안산
    '동안구', '만안구', # 안양
    '덕양구', '일산동구', '일산서구'] #고양

In [29]:
# sanity check 1
print(len(city_list),len(district_list), len(rows))

25 17 42

In [30]:
# sanity check 2
city = set(np.where(school['시'].isin(city_list))[0]) # 시(city_list)에 속해있는 대학교들의 index
district = set(np.where(school['세부'].isin(district_list))[0]) # 구(district_list)에 속해있는 대학교들의 index
print(set.intersection(city,district)) # city와 district는 겹치지 않는다.
print(set(np.arange(248)) == set.union(city,district)) # city와 district를 합치면 248개가 다 나온다.

NameError: name 'school' is not defined

In [31]:
# 위치 컬럼 생성 : 구가 없는 시면 시 이름을, 구가 있는 시면 구 이름을 배정한다.
city_series = school['시'][school['시'].isin(city_list)]
district_series = school['세부'][school['세부'].isin(district_list)]
school['위치'] = pd.concat([city_series, district_series])
school

NameError: name 'school' is not defined

In [32]:
# 위치 컬럼의 이름을 rows에서의 양식과 일치시킨다.
school['위치'].replace({'장안구':'수원시 장안구', '권선구':'수원시 권선구', '팔달구':'수원시 팔달구', '영통구':'수원시 영통구', # 수원
    '처인구':'용인시 처인구', '기흥구':'용인시 기흥구', '수지구':'용인시 수지구', #용인
    '수정구':'성남시 수정구', '중원구':'성남시 중원구', '분당구':'성남시 분당구', #성남
    '단원구':'안산시 단원구', '상록구':'안산시 상록구', #안산
    '동안구':'안양시 동안구', '만안구':'안양시 만안구', # 안양
    '덕양구':'고양시 덕양구', '일산동구':'고양시 일산동구', '일산서구':'고양시 일산서구'} # 고양
    , inplace=True) 
school

NameError: name 'school' is not defined

In [ ]:
# 각 지역별 대학교의 개수 데이터 생성
school_ = pd.DataFrame(index = rows)
school_['대학교 개수'] = [sum(school['위치']==region) for region in rows]
school_

In [ ]:
school_.to_csv("data_intermediate/2114_1229_school.csv", encoding="utf-8-sig")

## 아파트 수 : `apartment`

In [ ]:
apartment = pd.read_csv("data_raw/2502_경기도 아파트 현황.csv")
apartment.set_index('경기도 아파트현황',inplace=True)
apartment
# 경기지역 아파트 목록(윤겸님)
# 데이터를 얻은 곳 : https://data.gg.go.kr/portal/data/service/selectServicePage.do?infId=VUPYJVKMYEYIKOQDILSR30099546&infSeq=1

In [ ]:
apartment.to_csv("data_intermediate/2115_1230_apartment.csv", encoding="utf-8-sig")

# feature 데이터를 하나로 통합
- intermediate data -> final data

In [ ]:
import pandas as pd

a = pd.read_csv('2102_1229_socar_zone_counts.csv')
b = pd.read_csv('2110_1229_land_use.csv')
c = pd.read_csv('2112_1229_population.csv')
d = pd.read_csv('2114_1229_school.csv')
e = pd.read_csv('2115_1230_apartment.csv')

result = pd.concat([a,b,c,d,e], axis = 1)
result.head()

In [ ]:
result = result.drop(result.columns[0], axis=1)

In [ ]:
result.head()

In [ ]:
result = result.drop(result.columns[8], axis=1)

In [ ]:
result.head()

In [ ]:
result.set_index('행정구역(시군구)별', inplace=True)

In [ ]:
result.head()

In [ ]:
len(result)